################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreERP.Data/obj/Debug/netcoreapp3.1
/CoreERP.Model/obj/Debug/netcoreapp3.1
/CoreERP.API/obj/Debug/netcoreapp3.1
