@page "/BudgetReports"
@using Model
@using Interfaces
@inject IBudgetService BudgetService
@inject IClientService ClientService
@inject IEmployeeService EmployeeService
@inject IBudgetDetailsService BudgetDetailsService
@inject ICurrencyService CurrencyService
@inject IInvoiceTypeService InvoiceTypeService

@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize(Roles = "Administrators, Sales,Services")]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@inject IJSRuntime Js

<style>
    .e-list-settings:before {
        content: "\e679";
    }

    .e-list-print:before {
        content: "\e743";
    }

    .e-list-save:before {
        content: "\e74d";
    }

    .e-list-saveas:before {
        content: "\e72b";
    }

    .e-list-delete:before {
        content: "\e773";
    }

    .e-list-undo:before {
        content: "\e752";
    }

    .e-list-edit:before {
        content: "\e7a3";
    }
</style>



<div class="container-fluid">
    <p>@Message</p>
    <span class="error">@ErrorDetails</span>


    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" role="banner"><b>Informe de presupuestos</b></div>
            </div>
            <div class="row">
                <div class="col-md-4" style="vertical-align:middle; text-align:right">
                    <SfButton CssClass="e-approve" IconPosition="IconPosition.Right" OnClick="Print">Tablero financiero</SfButton>
                </div>
            </div>

        </div>

    </div>


    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    <SfGrid TValue="Budget" ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" DataSource="@GridData" AllowExcelExport="true" ShowColumnChooser="true" AllowTextWrap="true" AllowFiltering="true" AllowSorting="true">
                        <GridEvents OnActionBegin="OnBeginHandler" OnActionComplete="ActionCompletedHandler" TValue="Budget" OnToolbarClick="ToolbarClickHandler"></GridEvents>
                        <GridPageSettings PageSize="30"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>

                        <GridColumns>
                            <GridColumn Field=@nameof(Budget.id_presupuesto) HeaderText="ID" Width="15" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(Budget.nro_presupuesto) HeaderText="#Fact." Visible="true" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Budget.estado_venta) HeaderText="Est. facturación" Visible="true" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Budget.vendedor) HeaderText="Usuario" Width="20" Visible="true"></GridColumn>
                            <GridColumn Field=@nameof(Budget.cliente) HeaderText="Cliente" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(Budget.moneda) HeaderText="Mon." Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.fecha) HeaderText="Fecha" Format="dd/MM/yyyy" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.estado) HeaderText="Estado" Width="22"></GridColumn>
                            <GridColumn Field=@nameof(Budget.direccion_entrega) HeaderText="Entregar en" Visible="false" Width="25"></GridColumn>
                            <GridColumn Field=@nameof(Budget.contacto) HeaderText="Contacto" Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.condicion) HeaderText="T. fact." Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.obra) HeaderText="Obra" Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.motivo) HeaderText="Motivo" Visible="true" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.moneda) HeaderText="Mon." Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.Total) HeaderText="Total" Format="N2" Visible="true" Width="20"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                    <style>
                        h6,
                        .h6 {
                            font-size: 140%;
                            color: white;
                        }

                        .e-grid th.e-headercell {
                            background-color: lightgray;
                        }



                        .e-grid tr.e-row.e-row {
                            background-color: whitesmoke;
                        }

                        .e-headercell {
                            font-family: "Segoe UI";
                            font-weight: bold;
                            color: black
                        }
                    </style>
                }

            </div>
        </div>

    </div>

</div>


@code {
    //public IEnumerable<Budget> clients { get; set; }
    public string Message { get; set; }
    public string[] ToolbarItems = new string[] { "ExcelExport", "Search", "ColumnChooser" };
    public string ErrorDetails = "";

    public IEnumerable<Budget> GridData { get; set; }
    public IEnumerable<Client> clients { get; set; }
    public IEnumerable<Employee> employees { get; set; }
    public IEnumerable<Currency> currencies { get; set; }
    public IEnumerable<InvoiceType> invoiceTypes { get; set; }

    public DateTime hoy = DateTime.Today;
    public DateTime t;

    SfGrid<Budget> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };

    public string UserName;

    public class Motivo
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }

    List<Motivo> LocalMotivo = new List<Motivo> {
    new Motivo() { ID= "MONTAJE", Text= "MONTAJE" },
    new Motivo() { ID= "MUESTRA", Text= "MUESTRA" },
    new Motivo() { ID= "VENTA", Text= "VENTA" },
  };

    //Authorization UserPermissions
    AuthorizationMatrix UserPermissions = new AuthorizationMatrix();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task AuthorizeUser(AuthorizationMatrix m)
    {
        var user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            m.CanView = false;
            m.CanViewOnlyOwned = true;
            m.CanEdit = false;
            m.CanCreate = false;
            m.CanDelete = false;
        }

        if (user.IsInRole("Administrators"))
        {
            // Perform an action only available to users in the 'admin' role.
            m.CanView = true;
            m.CanViewOnlyOwned = false;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = true;
        }
        else if (user.IsInRole("Sales"))
        {
            m.CanView = true;
            m.CanViewOnlyOwned = true;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            string[] subs = user.Identity.Name.Split("@");
            UserName = subs[0];

            await AuthorizeUser(UserPermissions);

            GridData = await BudgetService.GetAllBudgets();
            clients = await ClientService.GetAllClients();
            employees = await EmployeeService.GetAllEmployees();
            currencies = await CurrencyService.GetAllCurrencies();
            invoiceTypes = await InvoiceTypeService.GetAllInvoiceTypes();


        }
        catch (Exception ex)
        {
            Message = "Error al obtener presupuestos [OnInitializedAsync] : " + ex.Message;
        }
    }

    protected void Print()
    {
        try
        {
            //Call Reporting Service WSL
            String route = "FinancialDashboard";


            Js.InvokeAsync<object>("open", route, "_blank");

        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private async Task OnBeginHandler(ActionEventArgs<Budget> Args)
    {
        try
        {
            return;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener presupuestos [OnBeginHandler]: " + ex.Message + " Inner.: " + ex.InnerException;
            throw ex;
        }
    }

    private async Task ActionCompletedHandler(ActionEventArgs<Budget> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save || Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            GridData = await BudgetService.GetAllBudgets();
            Grid.Refresh();
        }

    }





    public async Task ExcelExport()
    {
        ExcelExportProperties ExportProperties = new ExcelExportProperties();
        ExportProperties.IncludeHiddenColumn = true;
        ExportProperties.FileName = "Presupuestos.xlsx";

        ExcelTheme Theme = new ExcelTheme();
        ExcelStyle ThemeStyle = new ExcelStyle()
            {
                FontName = "Segoe UI",
                FontColor = "#666666",
                FontSize = 9
            };
        Theme.Header = ThemeStyle;
        Theme.Record = ThemeStyle;
        Theme.Caption = ThemeStyle;

        ExportProperties.Theme = Theme;



        await this.Grid.ExcelExport(ExportProperties);
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            await ExcelExport();
        }
    }

    public Int32 GetEmployeeID(string username)
    {
        int id;
        try
        {
            id = employees.First(c => c.usuario == username).id_funcionario;
            return id;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener ID de usuario : " + ex.Message;
            return 1;
        }
    }






}


