@page "/DailyBooks"
@using Model
@using Interfaces

@inject IDailyBookService DailyBookService
@inject IEmployeeService EmployeeService


@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize(Roles = "Administrators, Sales,Services")]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<style>
    .e-list-settings:before {
        content: "\e679";
    }

    .e-list-print:before {
        content: "\e743";
    }

    .e-list-save:before {
        content: "\e74d";
    }

    .e-list-saveas:before {
        content: "\e72b";
    }

    .e-list-delete:before {
        content: "\e773";
    }

    .e-list-undo:before {
        content: "\e752";
    }

    .e-list-edit:before {
        content: "\e7a3";
    }
</style>



<div class="container-fluid">
    <p>@Message</p>
    <span class="error">@ErrorDetails</span>


    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper">
            <div class="alert alert-title" role="banner"><b>MOVIMIENTOS</b></div>
        </div>
    </div>


    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    <SfGrid TValue="DailyBook" ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" DataSource="@GridData" AllowExcelExport="true" ShowColumnChooser="true" AllowTextWrap="true" AllowFiltering="true" AllowSorting="true">
                        <GridEvents OnActionBegin="OnBeginHandler" OnActionComplete="ActionCompletedHandler" TValue="DailyBook" OnToolbarClick="ToolbarClickHandler"></GridEvents>
                        <GridPageSettings PageSize="30"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>

                        <GridColumns>

                             <GridColumn Field=@nameof(DailyBook.asiento_numero) HeaderText="#" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(DailyBook.fecha) HeaderText="Fecha" Format="dd/MM/yyyy" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(DailyBook.cuenta) HeaderText="Cuenta" Width="30" Visible="true"></GridColumn>
                            <GridColumn Field=@nameof(DailyBook.descripcion) HeaderText="Descripcion" Width="50"></GridColumn>
                           
                      
                           
                            <GridColumn Field=@nameof(DailyBook.debe) HeaderText="Debe" Format="N2" Visible="true" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(DailyBook.haber) HeaderText="Haber" Format="N2" Visible="true" Width="30"></GridColumn>
                          
                        </GridColumns>
                    </SfGrid>
                }

            </div>
        </div>

    </div>

</div>


@code {
    //public IEnumerable<DailyBook> clients { get; set; }
    public string Message { get; set; }
    public string[] ToolbarItems = new string[] { "ExcelExport", "Search", "ColumnChooser" };
    public string ErrorDetails = "";

    public IEnumerable<DailyBook> GridData { get; set; }

    public IEnumerable<Employee> employees { get; set; }




    SfGrid<DailyBook> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };

    public string UserName;



    //Authorization UserPermissions
    AuthorizationMatrix UserPermissions = new AuthorizationMatrix();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task AuthorizeUser(AuthorizationMatrix m)
    {
        var user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            m.CanView = false;
            m.CanViewOnlyOwned = true;
            m.CanEdit = false;
            m.CanCreate = false;
            m.CanDelete = false;
        }

        if (user.IsInRole("Administrators"))
        {
            // Perform an action only available to users in the 'admin' role.
            m.CanView = true;
            m.CanViewOnlyOwned = false;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = true;
        }
        else if (user.IsInRole("DailyBooks"))
        {
            m.CanView = true;
            m.CanViewOnlyOwned = true;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            string[] subs = user.Identity.Name.Split("@");
            UserName = subs[0];

            await AuthorizeUser(UserPermissions);

            GridData = await DailyBookService.GetAllDailyBooks();

            employees = await EmployeeService.GetAllEmployees();



        }
        catch (Exception ex)
        {
            Message = "Error al obtener presupuestos [OnInitializedAsync] : " + ex.Message;
        }
    }



    private async Task OnBeginHandler(ActionEventArgs<DailyBook> Args)
    {
        try
        {
            return;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener detalle del libro diario [OnBeginHandler]: " + ex.Message + " Inner.: " + ex.InnerException;
            throw ex;
        }
    }

    private async Task ActionCompletedHandler(ActionEventArgs<DailyBook> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save || Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            GridData = await DailyBookService.GetAllDailyBooks();
            Grid.Refresh();
        }

    }





    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            ExcelExportProperties ExcelProperties = new ExcelExportProperties();
            ExcelTheme Theme = new ExcelTheme();
            ExcelStyle ThemeStyle = new ExcelStyle()
                {
                    FontName = "Segoe UI",
                    FontSize = 12
                };
            Theme.Header = ThemeStyle;
            Theme.Record = ThemeStyle;
            Theme.Caption = ThemeStyle;
            ExcelProperties.Theme = Theme;
            ExcelProperties.FileName = "Ventas.xlsx";
            await this.Grid.ExcelExport(ExcelProperties);
        }

    }

    public Int32 GetEmployeeID(string username)
    {
        int id;
        try
        {
            id = employees.First(c => c.usuario == username).id_funcionario;
            return id;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener ID de usuario : " + ex.Message;
            return 1;
        }
    }


}


